/temp/
/code/test.m
/data/ADH_emp_share.dta
/data/ADHdata.dta
/code/AKM_OLS.do
/code/AKM_IV.do
/data/czmig_empshares_96_14.dta
/data/countymig_empshares_96_14.dta
/data/bartik_test_data.dta
/paper/
/output/
/code/ivreg_ss.rar
\code/reg_ss.rar
/code/preclean.do
\notes